.pagination{
    display: grid;
    // background-color: #f00;
    // padding: 8px 16px;
    .pagination-neutral{
        background-color: transparent;
        padding: 8px 16px;
    }
    .pagination-active{
        background-color: #f00;
        font-weight: 600;
        padding: 8px 16px;
    }
}

